*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    display: flex;
    justify-content: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav{
    background-color: black;
    padding: 3%;
}

ul{
    display: flex;
    justify-content: space-around;
}

li{
    border: 1px solid white;
    padding: 10px;
}
a{
    color: white;
    text-decoration: none;
}

.uno, .dos, .tres, .cuatro, .cinco, .seis, .siete, .ocho, .nueve, .diez, .once, .doce, .trece, .catorce, .quince{
    border: solid black 2px;
}